HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/src/main/resources/application.properties
/src/main/resources/bootstrap.properties
/.mvn/wrapper/maven-wrapper.jar
/.mvn/wrapper/maven-wrapper.properties
/.mvn/wrapper/MavenWrapperDownloader.java
/albums-ws.log
/albums-ws.log.2020-08-28.0.gz
/albums-ws.log.2020-08-29.0.gz
/albums-ws.log.2020-08-30.0.gz
/users-ws.log
/users-ws.log.2020-09-05.0.gz
/mvnw.cmd
/mvnw
